// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-container {
  display: flex;
}
.wrapper{
  margin-top: 40px;
  display:grid;
  grid-template-columns: repeat(10,60px);
  grid-gap:10px;
  margin-bottom: 40px;
  margin-left:0px;
}
li{
  border : solid,  1px,blue;
  text-align: center;
  background-color: blue;
  border-radius: 5px;
  height: 50px;
  padding-top: 13px;
  color: white;
}
